body {
    height: 15em;

    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 2ch;

    margin: 5em;
    display: flex;
    /* justify-content: center; */

    background-color: #EEEEEE;
}

h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 3.5ch;
}

a {
    margin: 5px;

    color: inherit;
    text-decoration: underline;
    text-decoration-color: #FF824D;
}

/* i want the button to look like a normal link */
button {
    background: none!important;
    border: none;
    margin: 5px;
    padding: 0!important;

    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: underline;
    text-decoration-color: #FF824D;

    cursor: pointer;
  }

.left-container {
    padding-right: 4em;
    border-right: 1px solid #FF824D;

    text-align: right;
}

.right-container {
    padding-left: 4em;
    border-left: 1px solid #FF824D;

    text-align: left;
}

#links {
    justify-content: center;
    align-items: flex-end;
}

#about {
    display: none;
}