h1 {
    margin-bottom: 1rem;
}

p {
    margin-bottom: 0.5rem;
    font-size: 1.15em;
}

.bio {
    display: flex;

    margin: auto;
    margin-top: 4rem;
    width: 70%;
}

.info {
    margin-right: 2rem;
    padding: 3rem;
}

.about {
    margin-left: 2rem;
    padding: 3rem; 

    background-color: #e8eaf6;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
